/*Start General CSS*/
body {
  font-family: Arial;
}
#page {
  padding-left: 70px;
}
h1 {
  text-shadow: 1px 1px 2px black;
  font-size: 75px;
  font-weight:normal;
}
.text-block {
  background-color: #F1F1F1;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display:inline-block;
}
/*End General CSS*/

/*Start Navigation Bar CSS*/
#navbar {
    list-style-type: none;
    display: table;
}

#outerNavBar {
    width: 100%;
    background-color: #25aff4;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#outerNavBar a {
    text-decoration: none;
    color: white;
}

.navbar-item:hover, .navbar-item:active {
  background-color: #219DDB;
}

.navbar-item {
    display: table-cell;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    font-family: Arial;
    vertical-align: middle;
}

.navbar-text {
    line-height: 45px;
}

/*End Navigation Bar CSS*/
